<h1>Home Page</h1>
<div class="apps">
  <% Preference.all.each do |p|%>
    <%if p.user_id==current_user.id && p.active%>
      <span><%=p.application.description%></span>
      <%=link_to p.application.name, p.application.link%>
    <%end%>
  <% end %>
</div>
