@import "bootstrap-sprockets";
@import "bootstrap";

body{
    padding-top: 80px;
    background-color: tan;
}

.center{
    text-align: center;
}

.right{
  display: flex;
  justify-content: flex-end;
}

h1{
    padding-bottom: 40 px;
}

@mixin box_sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
}

input{
    height: auto !important;
}

input, textarea, select{
  border: 2px solid #bbb;
  margin-bottom: 20px;
  width: 100%;
  @include box_sizing;
}

.app_box{
  padding: 40px;
  width: 25%;
  border: 2px solid #bbb;
  @include box_sizing
}

.apps{
  display: flex;
  flex-wrap: wrap;
}

.description,.link,.activation{
  color: white;
  text-shadow: 
    -1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}